@tailwind base;
@tailwind components;
@tailwind utilities;

/* .swiper-button-prev{
    color: red !important;
    position: absolute !important;
    top: 90% !important;
    left: 90% !important;
} */